doctype html
html(lang="zh-CN")
  head
    title Test
    meta(name="baidu-site-verification", content="aWbSNyTHCL")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    script(src="/js/jquery-2.1.3.min.js")
    script(src="/dest/oc.js")

  body

    block content


