doctype html
html(lang="zh-CN")
    head
        title Test
        meta(name="baidu-site-verification", content="aWbSNyTHCL")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
        script(src="/js/jquery-2.1.3.min.js")
        script(src="/dest/oc.js", data-occss="/dest/oc.css")
        link(rel='stylesheet', href='/icons/style.css')
    body
        button#btn(type="button") 提 交
        iframe#iframe(src="http://172.16.4.29:3999/iframe/case_add", style="width: 100%; height: 600px")

        
        script.
            $('#btn').on('click', function() {
                //- document.getElementById('iframe').contentWindow.csc_case_iframe_save();
                document.getElementById('iframe').src = 'http://172.16.4.29:3999/iframe/case_add#aaa'
            })
        