extends layout

block content
    div(style="width: 1000px; margin: 0 auto;")
        h2 Demo - 树形结构 Tree
        
    script(src="/mockData/tree.json")
    script.
        var dataList = TREEDATA;
    
        var tree = new oc.Tree({
            data: dataList
        });
        
    
        