extends layout

block content
    div(style="width: 1000px; margin: 0 auto;")
        h2 Demo - 基于HTML5的文件批量上传
        p 您可以将文件拖拽，或者点击添加按钮，来开始此demo
        div.fileContainer 
        p.alert.alert-info 此控件依赖于jQuery，在使用前请先在页面引入jQuery
        p 配置参数说明：
            pre 
                |new oc.Uploader({
                |   container: '.fileContainer',
                |   maxSize: 20,
                |   uploadAction: 'http://p.oceanwing.com/product/upload/',
                |   postParams: {
                |       savePath: 'upload'
                |   }
                |})   
                | 
                |container: container的选择器，一般为一个class或者id属性， 默认为body
                |maxSize: 最大允许添加的文件数量, 默认为10
                |uploadAction: 上传处理的RestAPI、Action或者ASHX地址
                |postParams: {}，额外需要post到服务器端的参数
        
        p 使用步骤说明：
        ol.pb50
            li 引入js文件，
                a(href="/dest/oc.js")
                a(href="/dest/oc.min.js")
            li 引入css文件：通过传统在head中添加link标签 或者在script中添加指向css路径的“data-occss”属性 script src="/dest/oc.min.js" data-occss="/dest/oc.css"
            li new oc.FileView('.fileContainer');  fileContainer一般为一个div容器。
            li 本页面的伪代码如下
                pre
                    |doctype html
                    |html(lang="zh-CN")
                    | head
                    |   title Test
                    |   script(src="/js/jquery-2.1.3.min.js")
                    |   script(src="/dest/oc.min.js", data-occss="/dest/oc.css")
                    |  body
                    |   div.fileContainer
                    | 
                    |   script.
                    |       var uploader = new oc.Uploader({
                    |            container: '.fileContainer',
                    |            postParams: {
                    |                savePath: 'upload'
                    |            }
                    |        })
                    |        uploader.files = [{
                    |            name: 'test.jpg',
                    |            status: uploader.STATUS.success
                    |        },
                    |        {
                    |            name: 'test2.jpg',
                    |            status: uploader.STATUS.success
                    |        }]
                    |        uploader.deleteFile = function(file){
                    |            console.log(file);
                    |        }
                    |       uploader.reloadList();
                    |       console.log(uploader.files());


        span 友情链接： 
            a(href="/csvPreview") 前端的CSV预览

    script.
        var uploader = new oc.Uploader({
            container: '.fileContainer',
            postParams: {
                savePath: 'upload'
            },
            callback: function(files){
                console.log('all file uploaded:', files);
            },
            uploadOneCallback: function(file){
                console.log('uploaded one file:', file);
            },
            blobSize: 100
        })

        uploader.files = [{
            name: 'test.jpg',
            status: uploader.STATUS.success
        },
        {
            name: 'test2.jpg',
            status: uploader.STATUS.success
        }]
        uploader.deleteFile = function(file){
            console.log(file);
        }
        uploader.reloadList();
        