
.zAutoComplete
    position absolute
    display inline-block
    list-style-type none
    padding 5px 0
    border 1px solid #ddd
    box-shadow 0 0 3px #aaa
    min-width 150px
    background #fff
    z-index 100000
    line-height 20px
    li
        padding 3px 20px
        cursor pointer
        color #666

    li.active
        background #428bca
        color #fff
