@keyframes zoomIn 
    0% 
        opacity 0
        transform scale3d(.3, .3, .3)
    50% 
        opacity 1
.zDialogOn 
    overflow hidden
    height 100%
    width 100%
.zDialogCover 
    width 100%
    height 100% 
    top 0
    left 0
    z-index 1000
    overflow-y auto
    position fixed
    background-color rgba(0,0,0,.4)
    display flex
    display -moz-box
    display -ms-flexbox
    display -webkit-box
    display -webkit-flex
    color #666
    font-size 13px
    &:after 
        display none !important
    &.tips
        background-color rgba(0,0,0,.3)
        z-index 1060 //bootstrap 1050
        .zDialog
            min-height 40px
    .zDialog
        animation-name zoomIn
        animation-duration 0.3s
        z-index 1001
        min-width 300px
        min-height 100px
        margin auto
        background #f8f8f8 
        display flex
        display -moz-box
        display -ms-flexbox
        display -webkit-box
        display -webkit-flex
        flex-direction column
        -moz-flex-direction column
        -webkit-flex-direction column
        -ms-flex-direction column
        border 1px solid #eee
        opacity 1
        top auto
        padding 0
        position relative
        color inherit
        border-radius 0
        max-width auto
        
        .zDialogHd 
            border-bottom 1px solid #ddd
            line-height 40px
            padding 0 15px
            margin 0
            background-color inherit
            position relative
            white-space nowrap
            color #666
            .zDialogClose 
                position absolute
                right 0
                top 0
                display block
                height 40px
                line-height 36px
                width 40px
                font-size 20px
                color #888
                font-style normal
                text-align center
                cursor pointer
                opacity 1
                font-weight normal
                &:hover 
                    color #222
            ~ .zDialogBd
                min-height 80px

        .zDialogBd
            background #fff
            padding 10px 15px
            flex-grow 1
            -moz-flex-grow 1
            -webkit-flex-grow 1
            -ms-flex-grow 1
            word-break break-all
            >pre
                background transparent
                border 0
                font-size inherit
                font-family inherit
                padding 0
                margin 0

        .zDialogFt 
            padding 0
            height 40px
            display flex
            display -moz-box
            display -ms-flexbox
            display -webkit-box
            display -webkit-flex
            flex-flow row nowrap
            align-items stretch
            border-top 1px solid #ddd
            
            button 
                display block
                flex-grow 1
                border 0
                background inherit
                border-right 1px solid #dfdfdf
                color #0c80ba
                transition background .15s
                height 100% !important
                &:hover
                    background #eee
                &:focus 
                    outline none
                    background #e0e0e0
                &:last-child 
                    border-right 0
    ~ .zDialogCover
        background transparent

.zLoading
    position fixed
    top 0
    bottom 0
    left 0
    right 0
    background rgba(0, 0, 0, 0.4)
    z-index 1000
    &:focus
        outline none

.zTooltips
    position absolute
    font-size 12px
    background #fcf8e3
    border 1px solid #faebcc
    color #8a6d3b
    z-index 1001
    padding 3px 10px
    &:after
        content ""
        border-top 5px solid transparent
        border-bottom 5px solid transparent
        border-left 5px solid #faebcc
        border-right 0
        height 0
        width 0
        display block
        position absolute
        right -5px
        top 50%
        margin-top -5px
    &.warn 
        border none
        box-shadow 0 0 15px rgba(100, 100, 100, .15)
        background #fff 
        border 1px solid #ddd
        padding 10px 10px 10px 30px
        white-space nowrap
        color #222
        border-radius 2px
        font-size 13px
        line-height 1em !important
        &:before
            content "!"
            display block
            width 18px
            height 18px
            line-height 20px
            font-weight border
            position absolute
            left 7px
            top 7px
            border-radius 2px
            text-align center
            background rgba(254, 181, 37, 1) 
            color #fff
            font-family '-webkit-pictograph', 'monospace'
        &:after
            top -7px 
            left 15px
            border-bottom 8px solid #fff
            border-left 6px solid transparent
            border-right 6px solid transparent
            
