
.zExample
    border 1px solid #dfdfdf
    padding 3px 10px 0 10px
    &:before
        content 'DEMO'
        font-size 12px 
        color #888
    .zCode 
        margin-left -10px
        margin-right -10px
        border 0
