.zImageCrop.zImageCropDrag
    box-shadow 0 0 15px #aaa
    .zImageCropDropInfo
        color #222
.zImageCrop
    position relative
    line-height 1em
    display block
    min-height 500px
    margin 0 auto
    overflow hidden
    text-align center
    background #F7F8F5
    width 800px
    height 500px
    overflow hidden
    font-size 14px
    .zImageCropDropInfo
        top 28%
        color #888
        position relative
    .btnCut
        display inline-block
        padding 5px 15px
        border 1px solid #ddd
        background #fff
        border-radius 3px
        outline none
        float right
        margin-top 2px
        &:hover 
            box-shadow 0 0 15px #ddd inset
    .zImageCropWrap
        position absolute
        left 50%
        top 50%
        canvas
            display block
    .zCutRange
        display inline-block 
        width 210px
    .zImageCropCover
        display block
        position absolute
        background rgba(200, 200, 200, .3)
    .zImageCropCoverTop, .zImageCropCoverLeft
        top 0
        left 0
    .zImageCropCoverBottom, .zImageCropCoverRight
        bottom 2px
        right 0
    .zImageCropCoverTop, .zImageCropCoverBottom
        width 100%
    
    .zImageCropFilter
        border 1px solid #eee
        position absolute
        display none
        right 0
        bottom 0
        top 0
        left 0
        cursor move
        z-index 2
        i
            background rgba(100, 100, 100, .2)
            position absolute
            font-size 10px
            cursor ns-resize
            display block
            width 24px
            height 10px
            border 1px solid #FEFEFE
        i.zCutDown
            left 50%
            margin-left -12px
            bottom -5px
        i.zCutUp
            left 50%
            margin-left -12px
            top -5px
        i.zCutLeft
            width 10px
            height 24px
            cursor ew-resize
            top 50%
            margin-top -12px
            left -5px
        i.zCutRight
            width 10px
            height 24px
            cursor ew-resize
            top 50%
            margin-top -12px
            right -5px
    .zCutImageSize
        color #888
        padding 0 15px
        display inline-block
    .zImageCropControl
        border 1px solid #D2D3D1
        padding 3px 10px
        position absolute
        top 0
        left 50%
        margin-top 10px
        width 500px
        margin-left -250px
        background rgba(250, 250, 250, .6)
        border-radius 6px
        text-align left
        z-index 2
        font-size 12px
        input, b, span
            vertical-align middle
        .iptFile
            position relative
            display inline-block
            line-height 28px
            border-radius 4px
            width 62px
            padding 0 8px
            border 1px solid transparent
            white-space nowrap
            &:after
                content ""
                display inline-block
                width 0
                height 0
                border-top 5px solid #666
                border-right 5px solid transparent
                border-left 5px solid transparent
                border-bottom 5px solid transparent
                position relative
                top 4px
                margin-left 5px
            input[type="file"]
                background transparent
                opacity 0
                position absolute
                top 0
                left 0
                bottom 0
                width 100%
            &:hover
                border 1px solid #ddd
        input[type="range"]
            width 100px
            display inline-block
            margin-top 2px
        b
            color #888
            font-size 20px
            cursor pointer
            padding 0 7px
            &:hover
                color #222
            