@keyframes zLoading 
    0%   {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}

@-webkit-keyframes zLoading
    0%   {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}

@-moz-keyframes zLoading 
    0%   {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}

@-o-keyframes zLoading 
    0%   {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}

.zLoadingIcon
    font-family 'icomoon'
    font-size 25px
    display inline-block
    color #aaa
    vertical-align middle
    animation zLoading 1s linear infinite normal
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1
    font-smoothing antialiased
    &:before
        content "\e982"

button .zLoadingIcon 
    font-size 18px

.zLoadingCover
    position relative
    opacity .7
    -webkit-filter blur(1px)
    filter blur(1px)
    &:after
        content "\e982"
        font-family 'icomoon' !important
        display block 
        position absolute
        left 50%
        top 20%
        margin-left -16px
        font-size 28px
        color green
        animation zLoading 1s linear infinite normal
        -webkit-filter blur(0px)
