$muted = #6d7683
$body = #555
$main = #e74c3c
$reverse = #2f3c4e
$grat = #a3a9b0

min-width()
    min-width arguments
    _width arguments

support-for-ie ?= true
opacity(n)
    opacity n
    if support-for-ie
        filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

vendor(prop, args)
    -webkit-{prop} args 
    -moz-{prop} args
    -o-{prop} args
    {prop} args

border-radius()
    vendor('border-radius', arguments)
border-top-right-radius()
    vendor('border-top-right-radius', arguments)
border-top-left-radius()
    vendor('border-top-left-radius', arguments)
border-bottom-right-radius()    
    vendor('border-bottom-right-radius', arguments)
border-bottom-left-radius()
    vendor('border-bottom-left-radius', arguments)

user-select()
    vendor('user-select', arguments)

box-shadow()
    vendor('box-shadow', arguments)
    
box-sizing()
    vendor('box-sizing', arguments)
   
transition()
    vendor('transition', arguments)
  
animation()
    vendor('animation', arguments)
    
font-smoothing()
    vendor('font-smoothing', arguments)
    
transform-origin()
    vendor('transform-origin', arguments)
