.btn-gray
    background #f5f5f5
    color #333
    border-color #ccc
    &:hover
        background #eee

.datepicker.datepicker-dropdown 
    min-width 225px

.zIpt
    height 32px!important
    line-height 30px