
.tagItem
	font-size 12px 
	width 700px
	border 1px solid yellow
	label
		display inline-block
		width 80px
		text-align right 
		padding-right 10px
.tagItemHd
	p 
		span 
			display inline-block
			width 260px
		input 
			margin-right 20px
.tagItemBd
	margin-top 20px
	textarea 
		width 600px
		max-width 600px
		height 100px
		max-height 100px
	li p span 
		display inline-block
		width 338px

	