
.zToggleBtn 
    display inline-block
    height 28px
    line-height 28px
    position relative
    width 82px
    -webkit-border-radius 20px
    -moz-border-radius 20px
    border-radius 20px
    overflow hidden
    vertical-align middle
    input
        display block
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        z-index 2
        opacity 0
        cursor pointer
    i 
        position absolute
        display block
        width 100%
        height 100%
        -webkit-border-radius 100px
        -moz-border-radius 100px
        border-radius 100px
        top 0
        -webkit-user-select none
        -moz-user-select none
        user-select none
        -webkit-transition all .15s
        -moz-transition all .15s
        transition all .15s
        text-align left
        &:before 
            content ""
            display block
            width 20px
            height 20px
            -webkit-border-radius 15px
            -moz-border-radius 15px
            border-radius 15px
            position absolute
            top 4px


.zToggleBtn.zToggleBtnSm
    height 24px
    line-height 24px
    width 58px

.zToggleBtn.zToggleBtnSm i:before
    width 18px
    height 18px
    top3px


.zToggleBtn.zToggleBtnSm .zToggleBtnOFF
    padding-left 28px

.zToggleBtn.zToggleBtnSm .zToggleBtnON
    padding-left 15px


.zToggleBtn .zToggleBtnON 
    left -100%
    background #34495e
    color #1abc9c
    padding-left 25px
    font-style normal

.zToggleBtn .zToggleBtnON:before 
    background #1abc9c
    right 5px

.zToggleBtn .zToggleBtnOFF 
    left 0
    background #cbd2d8
    color #fff
    padding-left 35px
    font-style normal

.zToggleBtn .zToggleBtnOFF:before 
    background #7f8b97
    left 5px

.zToggleBtn.active .zToggleBtnON 
    left 0

.zToggleBtn.active .zToggleBtnOFF 
    left 100%
