
/* line 1 : E:\bitbucket\ocui\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 1 : E:\bitbucket\ocui\public\css\params.styl */

/* line 3 : E:\bitbucket\ocui\public\css\base.styl */
/*CSS rest*/

/* line 4 : E:\bitbucket\ocui\public\css\base.styl */
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  display: block;
}

/* line 11 : E:\bitbucket\ocui\public\css\base.styl */
.f12 {
  font-size: 12px;
}

/* line 13 : E:\bitbucket\ocui\public\css\base.styl */
.f14 {
  font-size: 14px;
}

/* line 15 : E:\bitbucket\ocui\public\css\base.styl */
.f16 {
  font-size: 16px;
}

/* line 17 : E:\bitbucket\ocui\public\css\base.styl */
.f18 {
  font-size: 18px;
}

/* line 19 : E:\bitbucket\ocui\public\css\base.styl */
.f20 {
  font-size: 20px;
}

/* line 21 : E:\bitbucket\ocui\public\css\base.styl */
.f22 {
  font-size: 22px;
}

/* line 23 : E:\bitbucket\ocui\public\css\base.styl */
.f24 {
  font-size: 24px;
}

/* line 25 : E:\bitbucket\ocui\public\css\base.styl */
.f26 {
  font-size: 26px;
}

/* line 27 : E:\bitbucket\ocui\public\css\base.styl */
.f28 {
  font-size: 28px;
}

/* line 29 : E:\bitbucket\ocui\public\css\base.styl */
.f30 {
  font-size: 30px;
}

/* line 31 : E:\bitbucket\ocui\public\css\base.styl */
.f40 {
  font-size: 40px;
}

/* line 33 : E:\bitbucket\ocui\public\css\base.styl */
.fb {
  font-weight: bold;
}

/* line 35 : E:\bitbucket\ocui\public\css\base.styl */
.fn {
  font-weight: normal;
}

/* line 37 : E:\bitbucket\ocui\public\css\base.styl */
.t2 {
  text-indent: 2em;
}

/* line 39 : E:\bitbucket\ocui\public\css\base.styl */
.lh100 {
  line-height: 1em;
}

/* line 41 : E:\bitbucket\ocui\public\css\base.styl */
.lh150 {
  line-height: 1.5em;
}

/* line 43 : E:\bitbucket\ocui\public\css\base.styl */
.lh200 {
  line-height: 2em;
}

/* line 45 : E:\bitbucket\ocui\public\css\base.styl */
.lh250 {
  line-height: 2.5em;
}

/* line 47 : E:\bitbucket\ocui\public\css\base.styl */
.lh300 {
  line-height: 3em;
}

/* line 49 : E:\bitbucket\ocui\public\css\base.styl */
.unl {
  text-decoration: underline;
}

/* line 51 : E:\bitbucket\ocui\public\css\base.styl */
.no-unl {
  text-decoration: none;
}

/* line 54 : E:\bitbucket\ocui\public\css\base.styl */
/*定位*/

/* line 55 : E:\bitbucket\ocui\public\css\base.styl */
.tl {
  text-align: left;
}

/* line 57 : E:\bitbucket\ocui\public\css\base.styl */
.tc {
  text-align: center;
}

/* line 59 : E:\bitbucket\ocui\public\css\base.styl */
.tr {
  text-align: right;
}

/* line 61 : E:\bitbucket\ocui\public\css\base.styl */
.bc {
  margin-left: auto;
  margin-right: auto;
}

/* line 64 : E:\bitbucket\ocui\public\css\base.styl */
.fl {
  float: left;
  display: inline;
  overflow: hidden;
  *zoom: 1;
}

/* line 69 : E:\bitbucket\ocui\public\css\base.styl */
.fr {
  float: right;
  display: inline;
  overflow: hidden;
  *zoom: 1;
}

/* line 74 : E:\bitbucket\ocui\public\css\base.styl */
.cb {
  clear: both;
}

/* line 76 : E:\bitbucket\ocui\public\css\base.styl */
.cl {
  clear: left;
}

/* line 78 : E:\bitbucket\ocui\public\css\base.styl */
.cr {
  clear: right;
}

/* line 80 : E:\bitbucket\ocui\public\css\base.styl */
.clearfix:before,
.clearfix:after {
  content: '';
  line-height: 0;
  display: table;
}

/* line 84 : E:\bitbucket\ocui\public\css\base.styl */
.clearfix:after {
  clear: both;
}

/* line 86 : E:\bitbucket\ocui\public\css\base.styl */
*

/* line 88 : E:\bitbucket\ocui\public\css\base.styl */
.vm {
  vertical-align: middle;
}

/* line 90 : E:\bitbucket\ocui\public\css\base.styl */
.vt {
  vertical-align: top;
}

/* line 92 : E:\bitbucket\ocui\public\css\base.styl */
.vb {
  vertical-align: bottom;
}

/* line 94 : E:\bitbucket\ocui\public\css\base.styl */
.pr {
  position: relative;
}

/* line 96 : E:\bitbucket\ocui\public\css\base.styl */
.pa {
  position: absolute;
}

/* line 98 : E:\bitbucket\ocui\public\css\base.styl */
.abs-right {
  position: absolute;
  right: 0;
}

/* line 102 : E:\bitbucket\ocui\public\css\base.styl */
.fixWidth {
  font-family: monospace;
}

/* line 105 : E:\bitbucket\ocui\public\css\base.styl */
.zoom {
  zoom: 1;
}

/* line 107 : E:\bitbucket\ocui\public\css\base.styl */
.hidden {
  visibility: hidden;
}

/* line 109 : E:\bitbucket\ocui\public\css\base.styl */
.none {
  display: none;
}

/* line 111 : E:\bitbucket\ocui\public\css\base.styl */
.of {
  overflow: hidden;
}

/* line 114 : E:\bitbucket\ocui\public\css\base.styl */
/*高度长度*/

/* line 115 : E:\bitbucket\ocui\public\css\base.styl */
.w10 {
  width: 10px;
}

/* line 117 : E:\bitbucket\ocui\public\css\base.styl */
.w20 {
  width: 20px;
}

/* line 119 : E:\bitbucket\ocui\public\css\base.styl */
.w30 {
  width: 30px;
}

/* line 121 : E:\bitbucket\ocui\public\css\base.styl */
.w40 {
  width: 40px;
}

/* line 123 : E:\bitbucket\ocui\public\css\base.styl */
.w50 {
  width: 50px;
}

/* line 125 : E:\bitbucket\ocui\public\css\base.styl */
.w60 {
  width: 60px;
}

/* line 127 : E:\bitbucket\ocui\public\css\base.styl */
.w70 {
  width: 70px;
}

/* line 129 : E:\bitbucket\ocui\public\css\base.styl */
.w80 {
  width: 80px;
}

/* line 131 : E:\bitbucket\ocui\public\css\base.styl */
.w90 {
  width: 90px;
}

/* line 133 : E:\bitbucket\ocui\public\css\base.styl */
.w100 {
  width: 100px;
}

/* line 135 : E:\bitbucket\ocui\public\css\base.styl */
.w150 {
  width: 150px;
}

/* line 137 : E:\bitbucket\ocui\public\css\base.styl */
.w200 {
  width: 200px;
}

/* line 139 : E:\bitbucket\ocui\public\css\base.styl */
.w250 {
  width: 250px;
}

/* line 141 : E:\bitbucket\ocui\public\css\base.styl */
.w300 {
  width: 300px;
}

/* line 143 : E:\bitbucket\ocui\public\css\base.styl */
.w400 {
  width: 400px;
}

/* line 145 : E:\bitbucket\ocui\public\css\base.styl */
.w500 {
  width: 500px;
}

/* line 147 : E:\bitbucket\ocui\public\css\base.styl */
.w600 {
  width: 600px;
}

/* line 149 : E:\bitbucket\ocui\public\css\base.styl */
.w700 {
  width: 700px;
}

/* line 151 : E:\bitbucket\ocui\public\css\base.styl */
.w800 {
  width: 800px;
}

/* line 153 : E:\bitbucket\ocui\public\css\base.styl */
.w {
  width: 100%;
}

/* line 156 : E:\bitbucket\ocui\public\css\base.styl */
.h50 {
  height: 50px;
}

/* line 158 : E:\bitbucket\ocui\public\css\base.styl */
.h100 {
  height: 100px;
}

/* line 160 : E:\bitbucket\ocui\public\css\base.styl */
.h200 {
  height: 200px;
}

/* line 162 : E:\bitbucket\ocui\public\css\base.styl */
.h300 {
  height: 300px;
}

/* line 164 : E:\bitbucket\ocui\public\css\base.styl */
.h500 {
  height: 500px;
}

/* line 166 : E:\bitbucket\ocui\public\css\base.styl */
.h {
  height: 100%;
}

/* line 169 : E:\bitbucket\ocui\public\css\base.styl */
/*边距*/

/* line 170 : E:\bitbucket\ocui\public\css\base.styl */
.m10 {
  margin: 10px;
}

/* line 172 : E:\bitbucket\ocui\public\css\base.styl */
.m15 {
  margin: 15px;
}

/* line 174 : E:\bitbucket\ocui\public\css\base.styl */
.m20 {
  margin: 20px;
}

/* line 176 : E:\bitbucket\ocui\public\css\base.styl */
.m25 {
  margin: 25px;
}

/* line 178 : E:\bitbucket\ocui\public\css\base.styl */
.m30 {
  margin: 30px;
}

/* line 181 : E:\bitbucket\ocui\public\css\base.styl */
.mt5 {
  margin-top: 5px;
}

/* line 183 : E:\bitbucket\ocui\public\css\base.styl */
.mt10 {
  margin-top: 10px;
}

/* line 185 : E:\bitbucket\ocui\public\css\base.styl */
.mt15 {
  margin-top: 15px;
}

/* line 187 : E:\bitbucket\ocui\public\css\base.styl */
.mt20 {
  margin-top: 20px;
}

/* line 189 : E:\bitbucket\ocui\public\css\base.styl */
.mt30 {
  margin-top: 30px;
}

/* line 191 : E:\bitbucket\ocui\public\css\base.styl */
.mt40 {
  margin-top: 40px;
}

/* line 193 : E:\bitbucket\ocui\public\css\base.styl */
.mt50 {
  margin-top: 50px;
}

/* line 195 : E:\bitbucket\ocui\public\css\base.styl */
.mt70 {
  margin-top: 70px;
}

/* line 197 : E:\bitbucket\ocui\public\css\base.styl */
.mt100 {
  margin-top: 100px;
}

/* line 200 : E:\bitbucket\ocui\public\css\base.styl */
.mb5 {
  margin-bottom: 5px;
}

/* line 202 : E:\bitbucket\ocui\public\css\base.styl */
.mb10 {
  margin-bottom: 10px;
}

/* line 204 : E:\bitbucket\ocui\public\css\base.styl */
.mb15 {
  margin-bottom: 15px;
}

/* line 206 : E:\bitbucket\ocui\public\css\base.styl */
.mb20 {
  margin-bottom: 20px;
}

/* line 208 : E:\bitbucket\ocui\public\css\base.styl */
.mb30 {
  margin-bottom: 30px;
}

/* line 210 : E:\bitbucket\ocui\public\css\base.styl */
.mb50 {
  margin-bottom: 50px;
}

/* line 212 : E:\bitbucket\ocui\public\css\base.styl */
.mb70 {
  margin-bottom: 70px;
}

/* line 214 : E:\bitbucket\ocui\public\css\base.styl */
.mb100 {
  margin-bottom: 100px;
}

/* line 217 : E:\bitbucket\ocui\public\css\base.styl */
.ml5 {
  margin-left: 5px;
}

/* line 219 : E:\bitbucket\ocui\public\css\base.styl */
.ml10 {
  margin-left: 10px;
}

/* line 221 : E:\bitbucket\ocui\public\css\base.styl */
.ml15 {
  margin-left: 15px;
}

/* line 223 : E:\bitbucket\ocui\public\css\base.styl */
.ml20 {
  margin-left: 20px;
}

/* line 225 : E:\bitbucket\ocui\public\css\base.styl */
.ml30 {
  margin-left: 30px;
}

/* line 227 : E:\bitbucket\ocui\public\css\base.styl */
.ml40 {
  margin-left: 40px;
}

/* line 229 : E:\bitbucket\ocui\public\css\base.styl */
.ml50 {
  margin-left: 50px;
}

/* line 231 : E:\bitbucket\ocui\public\css\base.styl */
.ml70 {
  margin-left: 70px;
}

/* line 233 : E:\bitbucket\ocui\public\css\base.styl */
.ml100 {
  margin-left: 100px;
}

/* line 236 : E:\bitbucket\ocui\public\css\base.styl */
.mr5 {
  margin-right: 5px;
}

/* line 238 : E:\bitbucket\ocui\public\css\base.styl */
.mr10 {
  margin-right: 10px;
}

/* line 240 : E:\bitbucket\ocui\public\css\base.styl */
.mr15 {
  margin-right: 15px;
}

/* line 242 : E:\bitbucket\ocui\public\css\base.styl */
.mr20 {
  margin-right: 20px;
}

/* line 244 : E:\bitbucket\ocui\public\css\base.styl */
.mr30 {
  margin-right: 30px;
}

/* line 246 : E:\bitbucket\ocui\public\css\base.styl */
.mr50 {
  margin-right: 50px;
}

/* line 248 : E:\bitbucket\ocui\public\css\base.styl */
.mr70 {
  margin-right: 50px;
}

/* line 250 : E:\bitbucket\ocui\public\css\base.styl */
.mr100 {
  margin-right: 100px;
}

/* line 253 : E:\bitbucket\ocui\public\css\base.styl */
.p5 {
  padding: 5px;
}

/* line 255 : E:\bitbucket\ocui\public\css\base.styl */
.p10 {
  padding: 10px;
}

/* line 257 : E:\bitbucket\ocui\public\css\base.styl */
.p15 {
  padding: 15px;
}

/* line 259 : E:\bitbucket\ocui\public\css\base.styl */
.p20 {
  padding: 20px;
}

/* line 261 : E:\bitbucket\ocui\public\css\base.styl */
.p30 {
  padding: 30px;
}

/* line 263 : E:\bitbucket\ocui\public\css\base.styl */
.p50 {
  padding: 50px;
}

/* line 267 : E:\bitbucket\ocui\public\css\base.styl */
.pt5 {
  padding-top: 5px;
}

/* line 269 : E:\bitbucket\ocui\public\css\base.styl */
.pt10 {
  padding-top: 10px;
}

/* line 271 : E:\bitbucket\ocui\public\css\base.styl */
.pt15 {
  padding-top: 15px;
}

/* line 273 : E:\bitbucket\ocui\public\css\base.styl */
.pt20 {
  padding-top: 20px;
}

/* line 275 : E:\bitbucket\ocui\public\css\base.styl */
.pt30 {
  padding-top: 30px;
}

/* line 277 : E:\bitbucket\ocui\public\css\base.styl */
.pt50 {
  padding-top: 50px;
}

/* line 279 : E:\bitbucket\ocui\public\css\base.styl */
.pt70 {
  padding-top: 70px;
}

/* line 282 : E:\bitbucket\ocui\public\css\base.styl */
.pb5 {
  padding-bottom: 5px;
}

/* line 284 : E:\bitbucket\ocui\public\css\base.styl */
.pb10 {
  padding-bottom: 10px;
}

/* line 286 : E:\bitbucket\ocui\public\css\base.styl */
.pb15 {
  padding-bottom: 15px;
}

/* line 288 : E:\bitbucket\ocui\public\css\base.styl */
.pb20 {
  padding-bottom: 20px;
}

/* line 290 : E:\bitbucket\ocui\public\css\base.styl */
.pb30 {
  padding-bottom: 30px;
}

/* line 292 : E:\bitbucket\ocui\public\css\base.styl */
.pb50 {
  padding-bottom: 50px;
}

/* line 294 : E:\bitbucket\ocui\public\css\base.styl */
.pb70 {
  padding-bottom: 70px;
}

/* line 297 : E:\bitbucket\ocui\public\css\base.styl */
.pl5 {
  padding-left: 5px;
}

/* line 299 : E:\bitbucket\ocui\public\css\base.styl */
.pl10 {
  padding-left: 10px;
}

/* line 301 : E:\bitbucket\ocui\public\css\base.styl */
.pl15 {
  padding-left: 15px;
}

/* line 303 : E:\bitbucket\ocui\public\css\base.styl */
.pl20 {
  padding-left: 20px;
}

/* line 305 : E:\bitbucket\ocui\public\css\base.styl */
.pl30 {
  padding-left: 30px;
}

/* line 307 : E:\bitbucket\ocui\public\css\base.styl */
.pl50 {
  padding-left: 50px;
}

/* line 309 : E:\bitbucket\ocui\public\css\base.styl */
.pl70 {
  padding-left: 70px;
}

/* line 312 : E:\bitbucket\ocui\public\css\base.styl */
.pr5 {
  padding-right: 5px;
}

/* line 314 : E:\bitbucket\ocui\public\css\base.styl */
.pr10 {
  padding-right: 10px;
}

/* line 316 : E:\bitbucket\ocui\public\css\base.styl */
.pr15 {
  padding-right: 15px;
}

/* line 318 : E:\bitbucket\ocui\public\css\base.styl */
.pr20 {
  padding-right: 20px;
}

/* line 320 : E:\bitbucket\ocui\public\css\base.styl */
.pr30 {
  padding-right: 30px;
}

/* line 322 : E:\bitbucket\ocui\public\css\base.styl */
.pr50 {
  padding-right: 50px;
}

/* line 324 : E:\bitbucket\ocui\public\css\base.styl */
.pr70 {
  padding-right: 70px;
}

/* line 327 : E:\bitbucket\ocui\public\css\base.styl */
.last {
  margin-right: 0 !important;
  border-right: 0 !important;
}
