
/* line 1 : /Users/elvis/bitbucket/ocui/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/elvis/bitbucket/ocui/public/css/params.styl */

/* line 3 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
/*CSS rest*/

/* line 4 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  display: block;
}

/* line 11 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.f12 {
  font-size: 12px;
}

/* line 13 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.f14 {
  font-size: 14px;
}

/* line 15 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.f16 {
  font-size: 16px;
}

/* line 17 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.f18 {
  font-size: 18px;
}

/* line 19 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.f20 {
  font-size: 20px;
}

/* line 21 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.f22 {
  font-size: 22px;
}

/* line 23 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.f24 {
  font-size: 24px;
}

/* line 25 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.f26 {
  font-size: 26px;
}

/* line 27 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.f28 {
  font-size: 28px;
}

/* line 29 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.f30 {
  font-size: 30px;
}

/* line 31 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.f40 {
  font-size: 40px;
}

/* line 33 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.fb {
  font-weight: bold;
}

/* line 35 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.fn {
  font-weight: normal;
}

/* line 37 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.t2 {
  text-indent: 2em;
}

/* line 40 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.lh100 {
  line-height: 1em;
}

/* line 42 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.lh150 {
  line-height: 1.5em;
}

/* line 44 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.lh200 {
  line-height: 2em;
}

/* line 46 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.lh250 {
  line-height: 2.5em;
}

/* line 48 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.lh300 {
  line-height: 3em;
}

/* line 50 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.unl {
  text-decoration: underline;
}

/* line 52 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.no-unl {
  text-decoration: none;
}

/* line 55 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
/*定位*/

/* line 56 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.tl {
  text-align: left;
}

/* line 58 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.tc {
  text-align: center;
}

/* line 60 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.tr {
  text-align: right;
}

/* line 62 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.bc {
  margin-left: auto;
  margin-right: auto;
}

/* line 65 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.fl {
  float: left;
  display: inline;
  overflow: hidden;
  *zoom: 1;
}

/* line 70 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.fr {
  float: right;
  display: inline;
  overflow: hidden;
  *zoom: 1;
}

/* line 75 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.cb {
  clear: both;
}

/* line 77 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.cl {
  clear: left;
}

/* line 79 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.cr {
  clear: right;
}

/* line 81 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.clearfix:before,
.clearfix:after {
  content: '';
  line-height: 0;
  display: table;
}

/* line 85 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.clearfix:after {
  clear: both;
}

/* line 87 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
*

/* line 89 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.vm {
  vertical-align: middle;
}

/* line 91 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.vt {
  vertical-align: top;
}

/* line 93 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.vb {
  vertical-align: bottom;
}

/* line 95 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pr {
  position: relative;
}

/* line 97 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pa {
  position: absolute;
}

/* line 99 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.abs-right {
  position: absolute;
  right: 0;
}

/* line 103 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.fixWidth {
  font-family: monospace;
}

/* line 106 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.zoom {
  zoom: 1;
}

/* line 108 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.hidden {
  visibility: hidden;
}

/* line 110 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.none {
  display: none;
}

/* line 112 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.of {
  overflow: hidden;
}

/* line 115 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
/*高度长度*/

/* line 116 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.w10 {
  width: 10px;
}

/* line 118 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.w20 {
  width: 20px;
}

/* line 120 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.w30 {
  width: 30px;
}

/* line 122 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.w40 {
  width: 40px;
}

/* line 124 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.w50 {
  width: 50px;
}

/* line 126 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.w60 {
  width: 60px;
}

/* line 128 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.w70 {
  width: 70px;
}

/* line 130 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.w80 {
  width: 80px;
}

/* line 132 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.w90 {
  width: 90px;
}

/* line 134 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.w100 {
  width: 100px;
}

/* line 136 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.w150 {
  width: 150px;
}

/* line 138 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.w200 {
  width: 200px;
}

/* line 140 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.w250 {
  width: 250px;
}

/* line 142 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.w300 {
  width: 300px;
}

/* line 144 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.w400 {
  width: 400px;
}

/* line 146 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.w500 {
  width: 500px;
}

/* line 148 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.w600 {
  width: 600px;
}

/* line 150 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.w700 {
  width: 700px;
}

/* line 152 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.w800 {
  width: 800px;
}

/* line 154 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.w {
  width: 100%;
}

/* line 157 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.h50 {
  height: 50px;
}

/* line 159 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.h100 {
  height: 100px;
}

/* line 161 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.h200 {
  height: 200px;
}

/* line 163 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.h300 {
  height: 300px;
}

/* line 165 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.h500 {
  height: 500px;
}

/* line 167 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.h {
  height: 100%;
}

/* line 170 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
/*边距*/

/* line 171 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.m10 {
  margin: 10px;
}

/* line 173 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.m15 {
  margin: 15px;
}

/* line 175 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.m20 {
  margin: 20px;
}

/* line 177 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.m25 {
  margin: 25px;
}

/* line 179 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.m30 {
  margin: 30px;
}

/* line 182 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mt5 {
  margin-top: 5px;
}

/* line 184 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mt10 {
  margin-top: 10px;
}

/* line 186 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mt15 {
  margin-top: 15px;
}

/* line 188 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mt20 {
  margin-top: 20px;
}

/* line 190 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mt30 {
  margin-top: 30px;
}

/* line 192 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mt40 {
  margin-top: 40px;
}

/* line 194 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mt50 {
  margin-top: 50px;
}

/* line 196 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mt70 {
  margin-top: 70px;
}

/* line 198 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mt100 {
  margin-top: 100px;
}

/* line 201 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mb5 {
  margin-bottom: 5px;
}

/* line 203 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mb10 {
  margin-bottom: 10px;
}

/* line 205 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mb15 {
  margin-bottom: 15px;
}

/* line 207 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mb20 {
  margin-bottom: 20px;
}

/* line 209 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mb30 {
  margin-bottom: 30px;
}

/* line 211 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mb50 {
  margin-bottom: 50px;
}

/* line 213 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mb70 {
  margin-bottom: 70px;
}

/* line 215 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mb100 {
  margin-bottom: 100px;
}

/* line 218 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.ml5 {
  margin-left: 5px;
}

/* line 220 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.ml10 {
  margin-left: 10px;
}

/* line 222 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.ml15 {
  margin-left: 15px;
}

/* line 224 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.ml20 {
  margin-left: 20px;
}

/* line 226 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.ml30 {
  margin-left: 30px;
}

/* line 228 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.ml40 {
  margin-left: 40px;
}

/* line 230 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.ml50 {
  margin-left: 50px;
}

/* line 232 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.ml70 {
  margin-left: 70px;
}

/* line 234 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.ml100 {
  margin-left: 100px;
}

/* line 237 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mr5 {
  margin-right: 5px;
}

/* line 239 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mr10 {
  margin-right: 10px;
}

/* line 241 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mr15 {
  margin-right: 15px;
}

/* line 243 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mr20 {
  margin-right: 20px;
}

/* line 245 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mr30 {
  margin-right: 30px;
}

/* line 247 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mr50 {
  margin-right: 50px;
}

/* line 249 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mr70 {
  margin-right: 50px;
}

/* line 251 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.mr100 {
  margin-right: 100px;
}

/* line 254 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.p5 {
  padding: 5px;
}

/* line 256 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.p10 {
  padding: 10px;
}

/* line 258 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.p15 {
  padding: 15px;
}

/* line 260 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.p20 {
  padding: 20px;
}

/* line 262 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.p30 {
  padding: 30px;
}

/* line 264 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.p50 {
  padding: 50px;
}

/* line 268 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pt5 {
  padding-top: 5px;
}

/* line 270 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pt10 {
  padding-top: 10px;
}

/* line 272 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pt15 {
  padding-top: 15px;
}

/* line 274 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pt20 {
  padding-top: 20px;
}

/* line 276 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pt30 {
  padding-top: 30px;
}

/* line 278 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pt50 {
  padding-top: 50px;
}

/* line 280 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pt70 {
  padding-top: 70px;
}

/* line 283 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pb5 {
  padding-bottom: 5px;
}

/* line 285 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pb10 {
  padding-bottom: 10px;
}

/* line 287 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pb15 {
  padding-bottom: 15px;
}

/* line 289 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pb20 {
  padding-bottom: 20px;
}

/* line 291 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pb30 {
  padding-bottom: 30px;
}

/* line 293 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pb50 {
  padding-bottom: 50px;
}

/* line 295 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pb70 {
  padding-bottom: 70px;
}

/* line 298 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pl5 {
  padding-left: 5px;
}

/* line 300 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pl10 {
  padding-left: 10px;
}

/* line 302 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pl15 {
  padding-left: 15px;
}

/* line 304 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pl20 {
  padding-left: 20px;
}

/* line 306 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pl30 {
  padding-left: 30px;
}

/* line 308 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pl50 {
  padding-left: 50px;
}

/* line 310 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pl70 {
  padding-left: 70px;
}

/* line 313 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pr5 {
  padding-right: 5px;
}

/* line 315 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pr10 {
  padding-right: 10px;
}

/* line 317 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pr15 {
  padding-right: 15px;
}

/* line 319 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pr20 {
  padding-right: 20px;
}

/* line 321 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pr30 {
  padding-right: 30px;
}

/* line 323 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pr50 {
  padding-right: 50px;
}

/* line 325 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.pr70 {
  padding-right: 70px;
}

/* line 328 : /Users/elvis/bitbucket/ocui/public/css/base.styl */
.last {
  margin-right: 0 !important;
  border-right: 0 !important;
}
