
/* line 1 : /Users/elvis/bitbucket/ocui/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/elvis/bitbucket/ocui/public/css/buSelect.styl */
.mixSelectWrap {
  padding-top: 44px;
}

/* line 3 : /Users/elvis/bitbucket/ocui/public/css/buSelect.styl */
.mixSelectWrap .zTreeRoot>p {
  background-color: #ccc;
  color: #fff !important;
  font-weight: bold;
}

/* line 7 : /Users/elvis/bitbucket/ocui/public/css/buSelect.styl */
.mixSelectWrap >p {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 1;
}

/* line 17 : /Users/elvis/bitbucket/ocui/public/css/buSelect.styl */
.mixSelectWrap >ul>li>p {
  padding-left: 5px !important;
}

/* line 19 : /Users/elvis/bitbucket/ocui/public/css/buSelect.styl */
.mixSelectWrap ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 23 : /Users/elvis/bitbucket/ocui/public/css/buSelect.styl */
.mixSelectWrap ul li {
  padding: 0;
}

/* line 25 : /Users/elvis/bitbucket/ocui/public/css/buSelect.styl */
.mixSelectWrap ul li p {
  position: relative;
  margin: 0;
  margin-bottom: 1px;
  line-height: 28px;
  cursor: pointer;
  font-size: 13px;
  color: #333;
}

/* line 33 : /Users/elvis/bitbucket/ocui/public/css/buSelect.styl */
.mixSelectWrap ul li p:not(.active):hover {
  background-color: #f3f3f3;
}

/* line 35 : /Users/elvis/bitbucket/ocui/public/css/buSelect.styl */
.mixSelectWrap ul li p.active {
  color: #fff;
  background-color: #3bb4f2;
}

/* line 38 : /Users/elvis/bitbucket/ocui/public/css/buSelect.styl */
.mixSelectWrap ul li p.active:after {
  content: "\e620";
  font-family: icomoon;
  position: absolute;
  right: 10px;
  top: 1px;
}

/* line 44 : /Users/elvis/bitbucket/ocui/public/css/buSelect.styl */
.mixSelectWrap ul li p.disabled {
  cursor: default;
  color: #888;
}

/* line 48 : /Users/elvis/bitbucket/ocui/public/css/buSelect.styl */
.buSlc {
  display: inline-block;
  min-height: 30px;
  display: inline-block;
  vertical-align: top;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  padding: 4px;
  box-sizing: border-box;
}

/* line 57 : /Users/elvis/bitbucket/ocui/public/css/buSelect.styl */
.buSlc .zBadge {
  margin: 2px 5px;
  background-color: #3bb4f2;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  font-weight: 400;
}

/* line 64 : /Users/elvis/bitbucket/ocui/public/css/buSelect.styl */
.buSlc .zBadge .icon-cancel-circle {
  position: relative;
  top: 1px;
  margin-right: 5px;
  cursor: pointer;
}
