
/* line 1 : /Users/elvis/code/ocui/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/elvis/code/ocui/public/css/dropdown.styl */
.zDropdown {
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  background-color: #fff;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  padding: 0;
  border-color: #ddd;
  overflow: visible;
}

/* line 16 : /Users/elvis/code/ocui/public/css/dropdown.styl */
.zDropdown * {
  box-sizing: border-box;
}

/* line 19 : /Users/elvis/code/ocui/public/css/dropdown.styl */
.zDropdown:before {
  display: block;
  position: absolute;
  left: 30px;
  margin-left: -6px;
  top: -6px;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #f0f0f0;
}

/* line 29 : /Users/elvis/code/ocui/public/css/dropdown.styl */
.zDropdown .zDropdownHd {
  background-color: #f0f0f0;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  top: 0;
  height: 40px;
  line-height: 40px;
}

/* line 41 : /Users/elvis/code/ocui/public/css/dropdown.styl */
.zDropdown .zDropdownBd {
  padding: 0;
  max-height: 100%;
  overflow: auto;
}

/* line 45 : /Users/elvis/code/ocui/public/css/dropdown.styl */
.zDropdown .zDropdownHd + .zDropdownBd {
  margin-top: 34px;
}

/* line 47 : /Users/elvis/code/ocui/public/css/dropdown.styl */
.zDropdown.zDropdownUp {
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

/* line 49 : /Users/elvis/code/ocui/public/css/dropdown.styl */
.zDropdown.zDropdownUp:before {
  top: auto;
  bottom: -6px;
  border-bottom: 0;
  border-top: 6px solid #fff;
}

/* line 54 : /Users/elvis/code/ocui/public/css/dropdown.styl */

/* line 55 : /Users/elvis/code/ocui/public/css/dropdown.styl */
.zDropdown.zDropdownRight:before {
  left: auto;
  right: 30px;
}
