
/* line 1 : /Users/elvis/code/ocui/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 5 : /Users/elvis/code/ocui/public/css/loadingIcon.styl */
@-webkit-keyframes zLoading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* line 9 : /Users/elvis/code/ocui/public/css/loadingIcon.styl */
@-moz-keyframes zLoading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* line 13 : /Users/elvis/code/ocui/public/css/loadingIcon.styl */
@-o-keyframes zLoading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* line 17 : /Users/elvis/code/ocui/public/css/loadingIcon.styl */
.zLoadingIcon {
  font-family: 'icomoon';
  font-size: 25px;
  display: inline-block;
  color: #aaa;
  vertical-align: middle;
  animation: zLoading 1s linear infinite normal;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-smoothing: antialiased;
}

/* line 30 : /Users/elvis/code/ocui/public/css/loadingIcon.styl */
.zLoadingIcon:before {
  content: "\e982";
}

/* line 1 : /Users/elvis/code/ocui/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */
@-moz-keyframes zLoading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* line 1 : /Users/elvis/code/ocui/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */
@-webkit-keyframes zLoading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* line 1 : /Users/elvis/code/ocui/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */
@-o-keyframes zLoading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* line 1 : /Users/elvis/code/ocui/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */
@-ms-keyframes zLoading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* line 1 : /Users/elvis/code/ocui/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */
@keyframes zLoading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
