
/* line 1 : /Users/elvis/code/ocui/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/elvis/code/ocui/public/css/popOver.styl */
.zPopOver {
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  max-width: 276px;
  padding: 1px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
}

/* line 21 : /Users/elvis/code/ocui/public/css/popOver.styl */
.zPopOver .zPopOverTitle {
  padding: 8px 34px 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
  position: relative;
}

/* line 29 : /Users/elvis/code/ocui/public/css/popOver.styl */
.zPopOver .zPopOverTitle .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  color: #aaa;
  padding: 12px 10px;
  cursor: pointer;
}

/* line 37 : /Users/elvis/code/ocui/public/css/popOver.styl */
.zPopOver .zPopOverTitle .icon-close:hover {
  color: #333;
}

/* line 39 : /Users/elvis/code/ocui/public/css/popOver.styl */
.zPopOver .zPopOverContent {
  padding: 10px 20px;
  position: relative;
}

/* line 42 : /Users/elvis/code/ocui/public/css/popOver.styl */
.zPopOver .zPopOverContent:before,
.zPopOver .zPopOverContent:after {
  display: block;
  position: absolute;
  left: -22px;
  top: 50%;
  margin-top: -25px;
  content: '';
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid #bbb;
  border-bottom: 10px solid transparent;
}

/* line 53 : /Users/elvis/code/ocui/public/css/popOver.styl */
.zPopOver .zPopOverContent:after {
  border-right: 10px solid #fff;
  left: -20px;
}

/* line 57 : /Users/elvis/code/ocui/public/css/popOver.styl */

/* line 58 : /Users/elvis/code/ocui/public/css/popOver.styl */

/* line 59 : /Users/elvis/code/ocui/public/css/popOver.styl */
.zPopOverleft .zPopOverContent:before,
.zPopOverleft .zPopOverContent:after {
  left: auto;
  right: -22px;
  border-left: 10px solid #bbb;
  border-right: 10px solid transparent;
}

/* line 64 : /Users/elvis/code/ocui/public/css/popOver.styl */
.zPopOverleft .zPopOverContent:after {
  border-left: 10px solid #fff;
  right: -20px;
}

/* line 67 : /Users/elvis/code/ocui/public/css/popOver.styl */

/* line 68 : /Users/elvis/code/ocui/public/css/popOver.styl */

/* line 69 : /Users/elvis/code/ocui/public/css/popOver.styl */
.zPopOvertop .zPopOverContent:before,
.zPopOvertop .zPopOverContent:after {
  left: 50%;
  margin-left: -11px;
  top: auto;
  bottom: -22px;
  border-right: 10px solid transparent;
  border-top: 10px solid #bbb;
}

/* line 76 : /Users/elvis/code/ocui/public/css/popOver.styl */
.zPopOvertop .zPopOverContent:after {
  border-top: 10px solid #fff;
  bottom: -20px;
}

/* line 79 : /Users/elvis/code/ocui/public/css/popOver.styl */

/* line 80 : /Users/elvis/code/ocui/public/css/popOver.styl */

/* line 81 : /Users/elvis/code/ocui/public/css/popOver.styl */
.zPopOverbottom .zPopOverContent:before,
.zPopOverbottom .zPopOverContent:after {
  left: 50%;
  margin-left: -11px;
  top: -33px;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #bbb;
}

/* line 87 : /Users/elvis/code/ocui/public/css/popOver.styl */
.zPopOverbottom .zPopOverContent:after {
  border-bottom: 10px solid #fff;
  top: -32px;
}
