
/* line 1 : /Users/elvis/code/ocui/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/elvis/code/ocui/public/css/reset.styl */
.btn-gray {
  background: #f5f5f5;
  color: #333;
  border-color: #ccc;
}

/* line 5 : /Users/elvis/code/ocui/public/css/reset.styl */
.btn-gray:hover {
  background: #eee;
}
