
/* line 1 : /Users/elvis/code/ocui/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/elvis/code/ocui/public/css/select.styl */

/* line 2 : /Users/elvis/code/ocui/public/css/select.styl */
.zSlcWrap >input {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAECAYAAABREWWJAAAAO0lEQVQIW2N0cnJKYGJims+ABfz//3/h3r17E7DJgcQYQQQ2AwhphGtGN4AYjSiaYQYwMjI64HMqshcAmTccBfwoZTYAAAAASUVORK5CYII=") 100% center no-repeat;
  width: 100%;
  height: 100%;
  display: block;
  padding-right: 20px;
  cursor: pointer;
  text-overflow: ellipsis;
  border-radius: 3px;
  font-size: 12px;
  padding-left: 5px;
}

/* line 13 : /Users/elvis/code/ocui/public/css/select.styl */
.zSlcWrap >input[readonly] {
  background-color: #fff;
  border: 1px solid #ddd;
}

/* line 16 : /Users/elvis/code/ocui/public/css/select.styl */
.zSlcBd {
  padding: 6px 10px;
}

/* line 18 : /Users/elvis/code/ocui/public/css/select.styl */
.zSlcBd:before,
.zSlcBd:after {
  display: block;
  position: absolute;
  left: 15px;
  margin-left: -6px;
  top: -6px;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ddd;
}

/* line 28 : /Users/elvis/code/ocui/public/css/select.styl */
.zSlcBd:after {
  left: 15px;
  margin-left: -5px;
  top: -5px;
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
}

/* line 36 : /Users/elvis/code/ocui/public/css/select.styl */
.zSlcBd >.zFilter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 3;
  padding: 5px;
}

/* line 44 : /Users/elvis/code/ocui/public/css/select.styl */
.zSlcBd >.zFilter input {
  border: 1px solid #ddd;
  outline: 0;
  padding-left: 8px;
}

/* line 48 : /Users/elvis/code/ocui/public/css/select.styl */
.zSlcBd >.zFilter input:focus {
  outline: 0;
  border: 1px solid #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

/* line 52 : /Users/elvis/code/ocui/public/css/select.styl */
.zSlcBd >p {
  margin: 0;
  line-height: 28px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  color: #333;
  font-size: 12px;
}

/* line 61 : /Users/elvis/code/ocui/public/css/select.styl */
.zSlcBd >p:after {
  position: absolute;
  right: 5px;
  top: 0;
  content: 'ã¸';
  transform: rotateX(180deg);
  font-weight: 700;
  font-size: 10px;
  display: none;
  color: #888;
}

/* line 72 : /Users/elvis/code/ocui/public/css/select.styl */

/* line 73 : /Users/elvis/code/ocui/public/css/select.styl */
.zSlcBd >p:not([disabled]):not([selected]):hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

/* line 76 : /Users/elvis/code/ocui/public/css/select.styl */
.zSlcBd >p:not([disabled]):not([selected]):hover:after {
  display: block;
}

/* line 78 : /Users/elvis/code/ocui/public/css/select.styl */
.zSlcBd >p[disabled] {
  opacity: 0.5;
  point-events: none;
  cursor: not-allowed;
}

/* line 82 : /Users/elvis/code/ocui/public/css/select.styl */
.zSlcBd >p[selected] {
  color: #0e90d2;
}

/* line 84 : /Users/elvis/code/ocui/public/css/select.styl */
.zSlcBd >p[selected]:after {
  color: #0e90d2;
  display: block;
}

/* line 87 : /Users/elvis/code/ocui/public/css/select.styl */
.zSlcBd >p[slcGroup] {
  border-bottom: 1px solid #ddd;
}

/* line 89 : /Users/elvis/code/ocui/public/css/select.styl */
.zSlcBd.zSlcHasFilter {
  padding-top: 40px;
}

/* line 92 : /Users/elvis/code/ocui/public/css/select.styl */

/* line 93 : /Users/elvis/code/ocui/public/css/select.styl */
.zDropdownUp .zSlcBd:before,
.zDropdownUp .zSlcBd:after {
  display: none;
}
