
/* line 1 : /Users/elvis/code/ocui/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/elvis/code/ocui/public/css/slice.styl */
.fixRight {
  position: fixed;
}

/* line 3 : /Users/elvis/code/ocui/public/css/slice.styl */
right 0,
width 0,
top 0,
bottom 0,
overflow hidden,
background #fff,
box-shadow -3px011pxrgba(0,
0,
0,
0.2),
transition all 0.3s,
z-index 10,
padding-top 40px,
transition width 0.3sease-in-out,
.fixRightHd,
position absolute {
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: #f5f6fa;
  padding-right: 15px;
}

/* line 22 : /Users/elvis/code/ocui/public/css/slice.styl */
right 0 i.icon-arrow-right,
width 0 i.icon-arrow-right,
top 0 i.icon-arrow-right,
bottom 0 i.icon-arrow-right,
overflow hidden i.icon-arrow-right,
background #fff i.icon-arrow-right,
box-shadow -3px011pxrgba(0 i.icon-arrow-right,
0 i.icon-arrow-right,
0 i.icon-arrow-right,
0.2) i.icon-arrow-right,
transition all 0.3s i.icon-arrow-right,
z-index 10 i.icon-arrow-right,
padding-top 40px i.icon-arrow-right,
transition width 0.3sease-in-out i.icon-arrow-right,
.fixRightHd i.icon-arrow-right,
position absolute i.icon-arrow-right,
right 0 display inline-block,
width 0 display inline-block,
top 0 display inline-block,
bottom 0 display inline-block,
overflow hidden display inline-block,
background #fff display inline-block,
box-shadow -3px011pxrgba(0 display inline-block,
0 display inline-block,
0 display inline-block,
0.2) display inline-block,
transition all 0.3s display inline-block,
z-index 10 display inline-block,
padding-top 40px display inline-block,
transition width 0.3sease-in-out display inline-block,
.fixRightHd display inline-block,
position absolute display inline-block {
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  margin-right: 5px;
  font-size: 14px;
  cursor: pointer;
}

/* line 32 : /Users/elvis/code/ocui/public/css/slice.styl */
right 0 .fixRightBd,
width 0 .fixRightBd,
top 0 .fixRightBd,
bottom 0 .fixRightBd,
overflow hidden .fixRightBd,
background #fff .fixRightBd,
box-shadow -3px011pxrgba(0 .fixRightBd,
0 .fixRightBd,
0 .fixRightBd,
0.2) .fixRightBd,
transition all 0.3s .fixRightBd,
z-index 10 .fixRightBd,
padding-top 40px .fixRightBd,
transition width 0.3sease-in-out .fixRightBd,
.fixRightHd .fixRightBd,
position absolute .fixRightBd {
  position: absolute;
}

/* line 34 : /Users/elvis/code/ocui/public/css/slice.styl */
top 40px {
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  padding: 15px;
  font-size: 12px;
}
