
/* line 1 : /Users/elvis/code/ocui/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 3 : /Users/elvis/code/ocui/public/css/table.styl */
table.ocTable {
  border: 1px solid #e1e6eb;
  font-size: 12px;
  color: #666;
  border-collapse: initial !important;
}

/* line 8 : /Users/elvis/code/ocui/public/css/table.styl */
table.ocTable .cbxOcTable {
  position: relative;
  top: -3px;
}

/* line 11 : /Users/elvis/code/ocui/public/css/table.styl */
table.ocTable caption {
  text-align: left;
}

/* line 13 : /Users/elvis/code/ocui/public/css/table.styl */
table.ocTable thead {
  background: #f5f6fa;
  color: #999;
  font-weight: normal;
}

/* line 17 : /Users/elvis/code/ocui/public/css/table.styl */
table.ocTable thead tr th {
  text-transform: capitalize;
  font-weight: normal;
  border-bottom: 1px solid #e1e6eb;
  white-space: nowrap;
  padding: 0;
  height: 34px;
  vertical-align: middle;
  padding: 0 8px;
}

/* line 26 : /Users/elvis/code/ocui/public/css/table.styl */
table.ocTable thead tr th[data-sort] {
  padding-right: 18px;
  position: relative;
  cursor: pointer;
}

/* line 30 : /Users/elvis/code/ocui/public/css/table.styl */
table.ocTable thead tr th[data-sort]:hover {
  background: #f3f3f3;
}

/* line 32 : /Users/elvis/code/ocui/public/css/table.styl */
table.ocTable thead tr th[data-sort]::before,
table.ocTable thead tr th[data-sort]::after {
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid transparent;
  border-bottom: 6px solid #ddd;
  position: absolute;
  right: 5px;
  top: 5px;
}

/* line 41 : /Users/elvis/code/ocui/public/css/table.styl */
table.ocTable thead tr th[data-sort]::after {
  top: 17px;
  border-top: 6px solid #ddd;
  border-bottom: 0;
}

/* line 45 : /Users/elvis/code/ocui/public/css/table.styl */

/* line 46 : /Users/elvis/code/ocui/public/css/table.styl */
table.ocTable thead tr th[data-sort].sortUp::after {
  display: none;
}

/* line 48 : /Users/elvis/code/ocui/public/css/table.styl */
table.ocTable thead tr th[data-sort].sortUp::before {
  border-bottom-color: #7a80dd;
}

/* line 50 : /Users/elvis/code/ocui/public/css/table.styl */

/* line 51 : /Users/elvis/code/ocui/public/css/table.styl */
table.ocTable thead tr th[data-sort].sortDown::before {
  display: none;
}

/* line 53 : /Users/elvis/code/ocui/public/css/table.styl */
table.ocTable thead tr th[data-sort].sortDown::after {
  border-top-color: #7a80dd;
}

/* line 55 : /Users/elvis/code/ocui/public/css/table.styl */

/* line 56 : /Users/elvis/code/ocui/public/css/table.styl */

/* line 57 : /Users/elvis/code/ocui/public/css/table.styl */
table.ocTable tbody tr td,
table.ocTable tfoot tr td {
  border-bottom: 1px solid #e1e6eb;
  border-top: 0;
}

/* line 60 : /Users/elvis/code/ocui/public/css/table.styl */
table.ocTable tbody tr td .zLoadingIcon,
table.ocTable tfoot tr td .zLoadingIcon {
  font-size: 18px;
  margin-right: 3px;
  position: relative;
  top: -1px;
}

/* line 65 : /Users/elvis/code/ocui/public/css/table.styl */

/* line 66 : /Users/elvis/code/ocui/public/css/table.styl */

/* line 67 : /Users/elvis/code/ocui/public/css/table.styl */

/* line 68 : /Users/elvis/code/ocui/public/css/table.styl */
table.ocTable tbody tr:hover td {
  background: #fafafa;
}

/* line 70 : /Users/elvis/code/ocui/public/css/table.styl */
table.ocTable tfoot {
  vertical-align: top;
  background: #f5f6fa;
}

/* line 73 : /Users/elvis/code/ocui/public/css/table.styl */
table.ocTable tfoot .pagination {
  margin: 0 10px;
  vertical-align: top;
}

/* line 76 : /Users/elvis/code/ocui/public/css/table.styl */
table.ocTable tfoot .pagination li a {
  border-radius: 0 !important;
}

/* line 78 : /Users/elvis/code/ocui/public/css/table.styl */
table.ocTable tfoot span input {
  padding: 0;
  line-height: 22px;
  border-color: #ddd;
  height: 22px;
  font-size: 12px;
  text-align: center;
}

/* line 86 : /Users/elvis/code/ocui/public/css/table.styl */
table.ocTable tfoot nav {
  float: right;
  margin-top: 0;
  width: auto !important;
  border: 0 !important;
}

/* line 91 : /Users/elvis/code/ocui/public/css/table.styl */
table.ocTable tfoot nav input,
table.ocTable tfoot nav button {
  border-radius: 0;
  height: 30px;
  line-height: 30px;
  padding: 0;
  width: 42px;
}

/* line 97 : /Users/elvis/code/ocui/public/css/table.styl */
table.ocTable tfoot nav button {
  font-size: 12px;
  margin-left: 5px;
  background: #e1e6eb;
}
