
/* line 1 : E:\bitbucket\ocui\node_modules\grunt-contrib-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 2 : E:\bitbucket\ocui\public\css\tag.styl */
.tagItem {
  font-size: 12px;
  width: 700px;
  border: 1px solid #ff0;
}

/* line 6 : E:\bitbucket\ocui\public\css\tag.styl */
.tagItem label {
  display: inline-block;
  width: 80px;
  text-align: right;
  padding-right: 10px;
}

/* line 11 : E:\bitbucket\ocui\public\css\tag.styl */

/* line 12 : E:\bitbucket\ocui\public\css\tag.styl */

/* line 13 : E:\bitbucket\ocui\public\css\tag.styl */
.tagItemHd p span {
  display: inline-block;
  width: 260px;
}

/* line 16 : E:\bitbucket\ocui\public\css\tag.styl */
.tagItemHd p input {
  margin-right: 20px;
}

/* line 18 : E:\bitbucket\ocui\public\css\tag.styl */
.tagItemBd {
  margin-top: 20px;
}

/* line 20 : E:\bitbucket\ocui\public\css\tag.styl */
.tagItemBd textarea {
  width: 600px;
  max-width: 600px;
  height: 100px;
  max-height: 100px;
}

/* line 25 : E:\bitbucket\ocui\public\css\tag.styl */
.tagItemBd li p span {
  display: inline-block;
  width: 338px;
}
